html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;

    width: 800px;
    min-height: 800px;
}

h1 {
    margin-top: 0;
}

.game-type select {
    font-size: 20px;
    background-color: #fff;
    color: #4183c4;
}

.text-center {
    text-align: center;
}

.disable-cell {
    pointer-events: none;
}

.grid {
    margin: 10px auto;

    width: 600px;
    height: 600px;

    border: 1px solid black;
    border-radius: 10px;
}

.row {
    width: 600px;
    height: 200px;

    text-align: center;

    border-bottom: 1px solid black;
}

.row:last-child {
    border-bottom: none;
}

.col {
    box-sizing: border-box;
    float: left;

    width: 32.7%;
    height: 200px;

    border-right: 1px solid black;

    text-align: center;
    padding-top: 17px;

}

.col:after {
    content: '';
    display: block;
    clear: left;
}

.col:last-child {
    border-right: none;
}

img {
    width: 160px;
    height: 160px;
}

.big-btn {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
}


/* COLORING */

.blue-color-back {
    background-color: #4183c4;
}

.blue-color {
    color: #4183c4;
}

.white-color-back {
    background-color: #fff;
}

.white-color {
    color: #fff;
}
